<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Share | Enter Password</title>
</head>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Lato:ital@1&display=swap');

    * {
        padding: 0;
        margin: 0;
    }

    body {
        /* background-color:black; */
        font-family: 'Lato', sans-serif;
        background-image: linear-gradient(to right, #ff886a, #fcf6cf)
    }

    .container {
        transform: translate(50%, 8%);
        border: 2px solid rgb(234, 167, 167);
        display: flex;
        width: 50vw;
        height: 50vh;
        align-items: center;
        justify-content: center;
        box-shadow: -webkit-box-shadow: inset 47px -29px 294px -12px rgba(255, 136, 106, 0.59);
        -moz-box-shadow: inset 47px -29px 294px -12px rgba(255, 136, 106, 0.59);
        box-shadow: inset 47px -29px 294px -12px rgba(255, 136, 106, 0.59);
    }

    .title {
        font-size: 5rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .title1 {
        font-size: 3.4rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    footer {
        background-color: black;
        width: auto;
        height: 10vh;
        display: flex;
        align-items: center;
        justify-content: center;
        transform: translateY(266%);
    }

    footer a {
        color: white;

    }

    /* .Link {
        position: absolute;
        top: 408px;
        left: 590px;
    } */
</style>

<body>
    <% if (locals.error) { %>
        <div style="color: red; margin-bottom: 1rem;">
            Incorrect Password
        </div>
        <% } %>
            <div class="title">File Share</div>
            <div class="container">
                <div class="title1">Please enter the password</div>
                <form method="post"
                    style="display: grid; gap: .5rem; grid-template-columns: auto 1fr; max-width: 500px; margin: 0 auto;">
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password" required />
                    <button style="grid-column: span 2;" type="submit">Download</button>
                </form>
            </div>
</body>

</html>